<app-menu></app-menu>
    <div class="receita">
        <h1>{{detalhe?.name}}</h1>
        <div class="ingredientes">
            <h2>Ingredientes:</h2>
            <div *ngFor="let ingrediente of detalhe?.ingredients">
                <div class="list">
                    <p>- {{ingrediente?.amount}}</p>
                    <p>{{ingrediente?.unit}}</p>
                    <p>{{ingrediente?.name}}</p>
                </div>
            </div>
        </div>
        <div class="preparo">
            <h2>Modo de preparo:</h2>
            <p>{{detalhe?.preparationMode }}</p>
        </div>
    </div>
