.receita {
    margin-top: 10rem;
}
.receita button {
    background-color: #5eb1bf;
    color: #edf6f9;
    
    border: none;
    border-radius: 2rem;
    
    padding: 0.8rem 2rem;

    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    
    margin: 5rem 9rem;

    cursor: pointer;
    
    transition: 400ms;
}
.receita button:hover {
    color: #000000;
    background-color: #0081a7;
    filter: brightness(1.1);
}
.receita h1 {
    color: #000000;

    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 400;
    line-height: 100%;

    margin-block: 5rem;
}
.ingredientes h2, .preparo h2 {
    color: #000000;

    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    line-height: 100%;

    margin: 3rem 10rem;
}
.list, .preparo p {
    margin: 3rem 10rem;
}
.list {
    display: flex;
    gap: 0.5rem;
}
.list p, .preparo p {
    color: #000000;

    text-align: left;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    
}
.preparo {
    margin-top: 5rem;
}
.preparo p {
    word-wrap: break-word;
    width: 800px;
}

#modal.visivel {
    opacity: 0;
    visibility: hidden;
}

/* RESPONSIVIDADE */

@media (max-width: 320px) {
    .receita h1 {
        font-size: 3.5rem;
    }
    .ingredientes h2, .preparo h2 {
        margin: 3rem 3rem;

        font-size: 2.5rem;
    }
    .list, .preparo p {
        margin: 3rem 3rem;
    }
    .list p, .preparo p {
        font-size: 2rem;
    }
    .preparo p {
        width: 280px;
    }
    .receita button {
        margin: 3rem 3rem;
    }
}
@media (max-width: 375px) {
    .receita h1 {
        font-size: 3.7rem;
    }
    .ingredientes h2, .preparo h2 {
        margin: 3rem 3rem;

        font-size: 2.5rem;
    }
    .list, .preparo p {
        margin: 3rem 3rem;
    }
    .list p, .preparo p {
        font-size: 2rem;
    }
    .preparo p {
        width: 320px;
    }
    .receita button {
        margin: 3rem 3rem;
    }
}
@media (max-width: 425px) {
    .receita h1 {
        font-size: 4rem;
    }
    .ingredientes h2, .preparo h2 {
        margin: 3rem 3rem;

        font-size: 2.5rem;
    }
    .list, .preparo p {
        margin: 3rem 3rem;
    }
    .list p, .preparo p {
        font-size: 2rem;
    }
    .preparo p {
        width: 350px;
    }
    .receita button {
        margin: 3rem 3rem;
    }
}
@media (max-width: 480px) {
    .receita h1 {
        font-size: 4rem;
    }
    .ingredientes h2, .preparo h2 {
        margin: 3rem 3rem;

        font-size: 2.5rem;
    }
    .list, .preparo p {
        margin: 3rem 3rem;
    }
    .list p, .preparo p {
        font-size: 2rem;
    }
    .preparo p {
        width: 350px;
    }
    .receita button {
        margin: 3rem 3rem;
    }
}

