<app-menu></app-menu>
    <div class="receita">
        <h1>{{detalhe?.name}}</h1>
        <div class="ingredientes">
            <h2>Ingredientes:</h2>
            <div *ngFor="let ingrediente of detalhe?.ingredients">
                <div class="list">
                    <p>- {{ingrediente?.amount}}</p>
                    <p>{{ingrediente?.unit}}</p>
                    <p>{{ingrediente?.name}}</p>
                </div>
            </div>
        </div>
        <div class="preparo">
            <h2>Modo de preparo:</h2>
            <p>{{detalhe?.preparationMode }}</p>
        </div>

        <button (click)="openClose()">Editar receita</button>
    </div>

    <!-- MODAL -->
    <div id="modal" class="visivel">
        <div class="conteudo-modal">
            <form class="form">
                <h1>Editar receita</h1>
    
                <div class="conteudo-ingredientes">
                    <h2>Ingredientes:</h2>
        
                    <div class="conteudo-form">
                        <div class="conteudo">
                            <label for="nome">Nome do ingrediente:</label>
                            <input type="text">
                        </div>
                
                        <div class="conteudo">
                            <label for="quantidade">Quantidade:</label>
                            <input type="text">
                        </div>
                
                        <div class="conteudo">
                            <label for="medida">Unidade de medida:</label>
                            <input type="text">
                        </div>
                
                    </div>
        
                    <div>
                        <div class="lista">
                            <p></p> 
                        </div>
                    </div>
                </div>
                    
                <div class="descricao">
                    <h2>Descrição:</h2>
                    <div class="conteudo">
                        <label for="nomeReceita">Nome da Receita:</label>
                        <input type="text">
                    </div>
            
                    <div class="conteudo">
                        <label for="nomeUser">Seu nome:</label>
                        <input type="text">
                    </div>
            
                    <div class="conteudo">
                        <label for="categoria">Categoria:</label>
                        <input type="text">
                    </div>
                </div>
                    
                <div class="mood-preparo">
                    <h2>Modo de preparo:</h2>
                    <textarea name="preparo" cols="30" rows="10"></textarea>
                </div>
        
                <div class="botao">
                    <button (click)="openClose()">Salvar alterações</button>
                    <button (click)="openClose()">Cancelar</button>
                </div>
            </form>
        </div>
        
    </div>