.novareceita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.novareceita h1 {
    color: #01292d;

    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;

    margin-block: 30px;
}
.ingredientes h2, .preparo h2 {
    color: #01292d;

    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    
    margin-block: 30px;
}
.incluir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.conteudo-form button {
    background-color: #edf6f9;

    border: 2px solid #01292d;
    border-radius: 8px;

    padding: 5px;

    font-size: 16px;
    font-weight: 400;
    line-height: 100%;

    color: #01292d;

    cursor: pointer;

    transition: 400ms;
}
.conteudo-form button:hover {
    font-weight: 600;
}
.conteudo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.conteudo-form label {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;

    color: #01292d;
}
.conteudo-form input {
    outline: none;

    width: 220px;
    height: 40px;

    border: 2px solid #01292d;
    border-radius: 8px;

    color: #01292d;

    font-size: 20px;
    font-weight: 400;
    line-height: 100%;

    padding: 8px;

    background-color: #edf6f9;
}
.tdsingredientes {
    background-color: #edf6f9;
    width: 280px;
    height: auto;

    margin-block: 30px;
}
.preparo textarea {
    outline: none;

    width: 280px;
    height: 200px;

    border: 2px solid #01292d;
    border-radius: 8px;

    color: #01292d;

    font-size: 20px;
    font-weight: 400;
    line-height: 100%;

    padding: 8px;

    background-color: #edf6f9;
}
.botao {
    margin-block: 50px;
}
.botao button {
    background-color: #006d77;
    color: #edf6f9;

    border: none;
    border-radius: 20px;

    text-align: center;
    font-size: 18px;
    line-height: 100%;

    padding: 8px 10px;

    width: 120px;

    cursor: pointer;

    transition: 400ms;
}
.botao button:hover {
    background-color: #0081a7;
    filter: brightness(1.1);
}