.novareceita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.novareceita h1 {
  color: #fff;

  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 100%;

  margin-block: 5rem;
}
.conteudo-ingredientes h2, .preparo h2 {
  color: #fff;

  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 100%;

  margin-block: 3rem;
}
.conteudo-form, .descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.example-full-width, .mat-form-field {
  width: 50rem;
  color: #fff;
  font-size: 2rem
}
.example-full-width textarea {
  color: #fff;
  font-size: 2rem;
}
.lista p {
  color: #fff;
  font-size: 2rem;
}
.botao-add, .botao {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem auto;
}


@media (max-width: 320px) {
  .novareceita h1 {
    font-size: 3.5rem;
  }
  .example-full-width {
    width: 30rem;
  }
  .conteudo-ingredientes h2, .preparo h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  .novareceita h1 {
    font-size: 4rem;
  }
  .example-full-width {
    width: 32rem;
  }
  .conteudo-ingredientes h2, .preparo h2 {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .novareceita h1 {
    font-size: 4rem;
  }
  .example-full-width {
    width: 32rem;
  }
  .conteudo-ingredientes h2, .preparo h2 {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .novareceita h1 {
    font-size: 4rem;
  }
  .example-full-width {
    width: 32rem;
  }
  .conteudo-ingredientes h2, .preparo h2 {
    font-size: 3rem;
  }
}
