<div class="novareceita">
    <h1>Nova Receita</h1>
    <div class="ingredientes">
        <h2>Ingredientes:</h2>
        <div class="incluir">
            <input type="text" id="input">
            <button>Adicionar</button>
        </div>
        <div class="tdsingredientes" id="ingredientes"></div>
    </div>
    <div class="preparo">
        <h2>Modo de preparo:</h2>
        <textarea name="preparo" cols="30" rows="10"></textarea>
    </div>
    <div class="botao">
        <button>Salvar</button>
    </div>
</div>
