.campobranco {
    margin-top: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.campobranco h2 {
    color: #fff;

    font-size: 3rem;
    font-weight: 400;
    line-height: 100%;
}
.geral {
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    gap: 5rem;

    max-width: 1500px;

    margin: 10rem auto;
}
.conteudo-receita {
    width: 30rem;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mat-card-title {
    font-size: 3rem;

    margin-bottom: 3rem;
}
.mat-card-subtitle {
    font-size: 2rem;
}
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.botoes a {
    font-size: 1.8rem;
}
.botoes button {
    font-size: 1.8rem;
}


@media (max-width: 320px) {
    .geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 5rem auto;
    }
    .conteudo-receita {
        width: 25rem;
    }
    .campobranco {
        max-width: 20rem;
        margin-inline: auto;
    }
    .campobranco h2 {
        font-size: 2rem;
        margin-inline: auto;
    }
}
@media (max-width: 375px) {
    .geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 5rem auto;
    }
    .conteudo-receita {
        width: 30rem;
    }
    .campobranco {
        max-width: 30rem;
        margin-inline: auto;
    }
    .campobranco h2 {
        font-size: 2.5rem;
        margin-inline: auto;
    }
}
@media (max-width: 425px) {
    .geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 5rem auto;
    }
    .conteudo-receita {
        width: 30rem;
    }
    .campobranco {
        max-width: 35rem;
        margin-inline: auto;
    }
    .campobranco h2 {
        font-size: 3rem;
        margin-inline: auto;
    }
}
@media (max-width: 480px) {
    .geral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 5rem auto;
    }
    .conteudo-receita {
        width: 30rem;
    }
    .campobranco {
        max-width: 35rem;
        margin-inline: auto;
    }
    .campobranco h2 {
        font-size: 3rem;
        margin-inline: auto;
    }
}


