<div class="geral">
    <div *ngFor="let receita of receitas">
        <div class="receita">
            <div class="conteudo-receita">
                <h1>{{receita.name}}</h1>
                <p><i>{{receita.user}}</i></p>
                <p>{{receita.category}}</p>
                <div class="botoes">
                    <a [routerLink]='["/receita", receita.id]'>Ver receita</a>
                    <button (click)="delete(receita.id)">Deletar</button>
                </div> 
            </div>
        </div>
    </div>
</div>


