<div class="receita">
    <div class="conteudo-receita">
        <h1>Brownie</h1>
        <p><i>Rosangela dos Santos Zenezi</i></p>
        <p>Sobremesa</p>
        <a [routerLink]='["/receita"]'>Ver receita</a>
    </div>
    <div class="conteudo-receita">
        <h1>Grãomelete</h1>
        <p><i>Rosangela dos Santos Zenezi</i></p>
        <p>Alimentação saudável</p>
        <a [routerLink]='["/receita"]'>Ver receita</a>
    </div>
    <div class="conteudo-receita">
        <h1>Bolo de maçã</h1>
        <p><i>Rosangela dos Santos Zenezi</i></p>
        <p>Bolo</p>
        <a [routerLink]='["/receita"]'>Ver receita</a>
    </div>
</div>
