<app-menu></app-menu>

<div class="cadastro">

  <h1>Cadastrar novo usuário</h1>

  <form class="example-form" [formGroup]="formNewUser">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="name">Nome usuário:</mat-label>
      <input matInput type="text" formControlName="nome">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de usuário:</mat-label>
      <select matNativeControl required>
        <option value="administrador">Administrador</option>
      </select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="senha">Senha:</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

  </form>

  <button (click)="salvar()" mat-flat-button color="primary">Salvar</button>

  
</div>
