<app-menu></app-menu>
<div class="cadastro">
  <h1>Cadastrar novo usuário</h1>
  <form class="example-form" [formGroup]="formNewUser" (ngSubmit)="salvar()">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="name">Nome usuário:</mat-label>
      <input matInput type="text" formControlName="nome">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="funcao">Tipo de usuário:</mat-label>
      <input matInput type="text" formControlName="funcao">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="senha">Senha:</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

  </form>

  <button type="submit" mat-flat-button color="primary">Salvar</button>
</div>
