div {
    position: absolute;
    left: 70px;
    top: 1000px;
}
p {
    color: #01292d;
    margin-top: 30px;

    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}
p a {
    color: #01292d;
    
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;

    margin-left: 5px;
}
p a:hover {
    font-weight: 600;
}
@media (min-width: 480px) {
    div {
        position: absolute;
        left: 70px;
        top: 1000px;
    }
    p {
        color: #01292d;
        margin-top: 30px;
    
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
    }
    p a {
        color: #01292d;
        
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
    
        margin-left: 5px;
    }
    p a:hover {
        font-weight: 600;
    }
}

@media (min-width: 1440px) {
    div {
        position: absolute;
        left: 622px;
        top: 765px;
    }
}
@media (min-width: 100vw) {
    div {
        position: absolute;
        left: 900px;
        top: 870px;
    }
}