.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login img {
    width: 25rem;

    margin-block: 7rem;
}
.login form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.conteudo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.conteudo-form label {
    color: #000000;

    font-size: 4rem;
    font-weight: 600;
    line-height: 100%;
}
.conteudo-form input {
    outline: none;

    color: #000000;

    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;

    border: 1px solid #000000;
    border-radius: 0.4rem;

    padding: 0.5rem;

    width: 20rem;
    height: 4rem;
}
.login button {
    margin: auto;

    background-color: #000000;
    color: #fff;

    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;

    width: 14rem;
    height: 4rem;

    border-radius: 0.4rem;

    cursor: pointer;

    transition: 400ms;
}
.login button:hover {
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
}



@media (max-width: 320px) {
    .login img {
        width: 15rem;
    
        margin-block: 10rem;
    }
    .conteudo-form {
        flex-direction: column;
    }
    .conteudo-form label {
        font-size: 3.5rem;
    }
}
@media (max-width: 375px) {
    .login img {
        width: 15rem;
    
        margin-block: 10rem;
    }
    .conteudo-form {
        flex-direction: column;
    }
    .conteudo-form label {
        font-size: 3.5rem;
    }
}
@media (max-width: 425px) {
    .login img {
        width: 15rem;
    
        margin-block: 10rem;
    }
    .conteudo-form {
        flex-direction: column;
    }
    .conteudo-form label {
        font-size: 3.5rem;
    }
}
@media (max-width: 480px) {
    .login img {
        width: 15rem;
    
        margin-block: 10rem;
    }
    .conteudo-form {
        flex-direction: column;
    }
    .conteudo-form label {
        font-size: 3.5rem;
    }
}