.menu-container {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4rem;
}
.logo  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.logo img {
    width: 4.5rem;
}
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-hamburguer {
    display: none;
}


@media (max-width: 320px) {
    .menu-container {
        gap: 2rem;

        padding: 1rem;
    }
    .logo h1 {
        font-size: 1.8rem;
    }
    .logo img {
        width: 2.5rem;
    }
    .menu-hamburguer {
        display: flex;
    }
    .botoes {
        display: none;
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child {
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 375px) {
    .menu-container {
        gap: 2rem;

        padding: 1rem;
    }
    .menu-hamburguer {
        display: flex;
    }
    .botoes {
        display: none;
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child{
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 425px) {
    .menu-container {
        padding: 1rem;
    }
    .menu-hamburguer {
        display: flex;
    }
    .botoes {
        display: none;
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child{
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .menu-container {
        padding: 1rem;
    }
    .menu-hamburguer {
        display: flex;
    }
    .botoes {
        display: none;
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child{
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
