.menu-container {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4rem;
}
.menu-container img {
    width: 7rem;
}
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


@media (max-width: 320px) {
    .menu-container {
        gap: 2rem;

        padding: 1rem;
    }
    .menu-container img {
        width: 50px;
    }
    .botoes {
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child {
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 375px) {
    .menu-container {
        gap: 2rem;

        padding: 1rem;
    }
    .menu-container img {
        width: 60px;
    }
    .botoes {
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child{
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 425px) {
    .menu-container {
        padding: 1rem;
    }
    .menu-container img {
        width: 60px;
    }
    .botoes {
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child{
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .menu-container {
        padding: 1rem;
    }
    .menu-container img {
        width: 60px;
    }
    .botoes {
        gap: 1rem;
    }
    .botoes a:first-child, .botoes a:last-child{
        font-size: 1.6rem;
    }
    .botoes a:last-child {
        margin-right: 0;
    }
}
